img{
	width:500px;
	height:500px;
	box-shadow : 5px 5px grey;
}
h1 {
	text-align : center ;
 	color : #ff12ff ;
	font-family : courier new ;
	border: 2px dashed #12ff44;
}

table{
	text-align: center;
}